{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4 text-center bg-light">
    <hr>
    <p>selamat datang di Curiculum Vitae milik <h3> Cynthia Hasna Mazaya! </h3>
    <p> website ini berisikan beberapa informasi terkait biodata yang dimiliki Cynthia Hasna Mazaya.
    dengan beberapa laman yang dimiliki yaitu profil diri, kontak yang bisa dihubungi, pengalaman organisasi dan portofolio 
    hasil pengerjaan yang pernah dilakukan! </p>
    <hr>
</div>
{% endblock content %}
