{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4 text-center bg-light">
    <img src="{% static 'img/organisasi.jpg' %}" alt="organisasi" width="30%" class="img-fluid">
    <hr>
    <h2>Organisasi</h2>
    <hr>
        <ul>
            <li>Dewan Perwakilan Mahasiswa</li>
            <p>Staff komisi pengawasan dewan perwakilan mahasiswa keluarga mahasiswa komputer periode 2024-2025</P>
            
            <li>Organisasi Siswa Intra Sekolah</li>
            <p>Staff divisi keamanan serta mengatur tata tertib dan koordinasi dengan pihak sekolah periode 2021-2022</P>
        </ul>
</div>
{% endblock content %}
