{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4 text-center bg-light">
    <img src="{% static 'img/portofolio.jpg' %}" alt="portofolio" width="40%" class="img-fluid">
    <hr>
    <h2>Animator</h2>
    <hr>
    <p>bermimpi menjadi seorang animator serta mampu desain palet dan membuat character unggulan.
    menguasai basic job team dalam membuat animasi 2D, 3D dan 4D. dengan tujuan mengedukasi tanpa berunsur
    SARA, ataupun salah pendidikan. dengan latar belakang jurusan Pendidikan Ilmu Komputer, ia berencana
    membuat animasi digital.
</div>
{% endblock content %}
