{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4 text-center bg-light">
    <img src="{% static 'img/profil.jpg' %}" alt="profil" width="20%" class="img-fluid">
    <hr>
    <h2>Cynthia Hasna Mazaya</h2>
    <hr>
    <p>Seorang mahasiswa di universitas Pendidikan Indonesia, yang sedang menempuh semester 3,
     yang menjalani hari-harinya dengan belajar, bermain, tidur dan makan. bercita-cita sebagai animator ternama,
      namun masih bersifat edukasi.</p>
    <p>Memiliki keahlian seperti membuat animasi, kartun, dan background. diluar itu, ia sedang mengembangkan
    potensinya di frontend developer. sejak 2021 ia mengikuti beberapa perlombaan terindeks lembaga.
</div>
{% endblock content %}
